## Read dataset

In [125]:
import pandas as pd
import numpy as np

data_dete = pd.read_csv("/dete_survey.csv")
data_tafe = pd.read_csv("/tafe_survey.csv")

In [106]:
data_dete.head()

   ID                    SeparationType Cease Date  ... South Sea Disability NESB
0   1             Ill Health Retirement    08/2012  ...       NaN        NaN  Yes
1   2  Voluntary Early Retirement (VER)    08/2012  ...       NaN        NaN  NaN
2   3  Voluntary Early Retirement (VER)    05/2012  ...       NaN        NaN  NaN
3   4         Resignation-Other reasons    05/2012  ...       NaN        NaN  NaN
4   5                    Age Retirement    05/2012  ...       NaN        NaN  NaN

[5 rows x 56 columns]

In [107]:
data_dete.shape

(822, 56)

In [108]:
data_tafe.head()

      Record ID  ... LengthofServiceCurrent. Length of Service at current workplace (in years)
0  6.341330e+17  ...                                                1-2
1  6.341337e+17  ...                                                NaN
2  6.341388e+17  ...                                                NaN
3  6.341399e+17  ...                                                NaN
4  6.341466e+17  ...                                                3-4

[5 rows x 72 columns]

In [109]:
data_tafe.shape

(702, 72)

In [110]:
data_dete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   822 non-null    int64
 1   SeparationType                       822 non-null    object
 2   Cease Date                           822 non-null    object
 3   DETE Start Date                      822 non-null    object
 4   Role Start Date                      822 non-null    object
 5   Position                             817 non-null    object
 6   Classification                       455 non-null    object
 7   Region                               822 non-null    object
 8   Business Unit                        126 non-null    object
 9   Employment Status                    817 non-null    object
 10  Career move to public sector         822 non-null    bool
 11  Career move to private sector        822 non-null    bool
 12  Interpersonal conflicts              822 non-null    bool
 13  Job dissatisfaction                  822 non-null    bool
 14  Dissatisfaction with the department  822 non-null    bool
 15  Physical work environment            822 non-null    bool
 16  Lack of recognition                  822 non-null    bool
 17  Lack of job security                 822 non-null    bool
 18  Work location                        822 non-null    bool
 19  Employment conditions                822 non-null    bool
 20  Maternity/family                     822 non-null    bool
 21  Relocation                           822 non-null    bool
 22  Study/Travel                         822 non-null    bool
 23  Ill Health                           822 non-null    bool
 24  Traumatic incident                   822 non-null    bool
 25  Work life balance                    822 non-null    bool
 26  Workload                             822 non-null    bool
 27  None of the above                    822 non-null    bool
 28  Professional Development             808 non-null    object
 29  Opportunities for promotion          735 non-null    object
 30  Staff morale                         816 non-null    object
 31  Workplace issue                      788 non-null    object
 32  Physical environment                 817 non-null    object
 33  Worklife balance                     815 non-null    object
 34  Stress and pressure support          810 non-null    object
 35  Performance of supervisor            813 non-null    object
 36  Peer support                         812 non-null    object
 37  Initiative                           813 non-null    object
 38  Skills                               811 non-null    object
 39  Coach                                767 non-null    object
 40  Career Aspirations                   746 non-null    object
 41  Feedback                             792 non-null    object
 42  Further PD                           768 non-null    object
 43  Communication                        814 non-null    object
 44  My say                               812 non-null    object
 45  Information                          816 non-null    object
 46  Kept informed                        813 non-null    object
 47  Wellness programs                    766 non-null    object
 48  Health & Safety                      793 non-null    object
 49  Gender                               798 non-null    object
 50  Age                                  811 non-null    object
 51  Aboriginal                           16 non-null     object
 52  Torres Strait                        3 non-null      object
 53  South Sea                            7 non-null      object
 54  Disability                           23 non-null     object
 55  NESB                                 32 non-null     object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB

In [111]:
data_tafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 72 columns):
 #   Column                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                         --------------  -----
 0   Record ID                                                                                                                                                      702 non-null    float64
 1   Institute                                                                                                                                                      702 non-null    object
 2   WorkArea                                                                                                                                                       702 non-null    object
 3   CESSATION YEAR                                                                                                                                                 695 non-null    float64
 4   Reason for ceasing employment                                                                                                                                  701 non-null    object
 5   Contributing Factors. Career Move - Public Sector                                                                                                              437 non-null    object
 6   Contributing Factors. Career Move - Private Sector                                                                                                             437 non-null    object
 7   Contributing Factors. Career Move - Self-employment                                                                                                            437 non-null    object
 8   Contributing Factors. Ill Health                                                                                                                               437 non-null    object
 9   Contributing Factors. Maternity/Family                                                                                                                         437 non-null    object
 10  Contributing Factors. Dissatisfaction                                                                                                                          437 non-null    object
 11  Contributing Factors. Job Dissatisfaction                                                                                                                      437 non-null    object
 12  Contributing Factors. Interpersonal Conflict                                                                                                                   437 non-null    object
 13  Contributing Factors. Study                                                                                                                                    437 non-null    object
 14  Contributing Factors. Travel                                                                                                                                   437 non-null    object
 15  Contributing Factors. Other                                                                                                                                    437 non-null    object
 16  Contributing Factors. NONE                                                                                                                                     437 non-null    object
 17  Main Factor. Which of these was the main factor for leaving?                                                                                                   113 non-null    object
 18  InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                         608 non-null    object
 19  InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                     613 non-null    object
 20  InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                           610 non-null    object
 21  InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                            608 non-null    object
 22  InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                615 non-null    object
 23  InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                  607 non-null    object
 24  InstituteViews. Topic:7. Management was generally supportive of me                                                                                             614 non-null    object
 25  InstituteViews. Topic:8. Management was generally supportive of my team                                                                                        608 non-null    object
 26  InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                          610 non-null    object
 27  InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                       602 non-null    object
 28  InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                 601 non-null    object
 29  InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                             597 non-null    object
 30  InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly                                                                              601 non-null    object
 31  WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                609 non-null    object
 32  WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                      605 non-null    object
 33  WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                607 non-null    object
 34  WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                        610 non-null    object
 35  WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                  613 non-null    object
 36  WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                   609 non-null    object
 37  WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                               609 non-null    object
 38  WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]  608 non-null    object
 39  WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                            608 non-null    object
 40  WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                    611 non-null    object
 41  WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                    610 non-null    object
 42  WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                        611 non-null    object
 43  WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                    606 non-null    object
 44  WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                       610 non-null    object
 45  WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date  609 non-null    object
 46  WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                             603 non-null    object
 47  WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                         606 non-null    object
 48  Induction. Did you undertake Workplace Induction?                                                                                                              619 non-null    object
 49  InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                  432 non-null    object
 50  InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                  483 non-null    object
 51  InductionInfo. Topic: Did you undertake Team Induction?                                                                                                        440 non-null    object
 52  InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                      555 non-null    object
 53  InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                           555 non-null    object
 54  InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                 555 non-null    object
 55  InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                     530 non-null    object
 56  InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                          555 non-null    object
 57  InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                 553 non-null    object
 58  InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                 555 non-null    object
 59  InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                555 non-null    object
 60  InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                       555 non-null    object
 61  Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                      608 non-null    object
 62  Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                    594 non-null    object
 63  Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                 587 non-null    object
 64  Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                     586 non-null    object
 65  Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                   581 non-null    object
 66  Gender. What is your Gender?                                                                                                                                   596 non-null    object
 67  CurrentAge. Current Age                                                                                                                                        596 non-null    object
 68  Employment Type. Employment Type                                                                                                                               596 non-null    object
 69  Classification. Classification                                                                                                                                 596 non-null    object
 70  LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                      596 non-null    object
 71  LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                      596 non-null    object
dtypes: float64(2), object(70)
memory usage: 395.0+ KB

## Clean Columns Names

In [126]:
data_dete.columns = data_dete.columns.str.lower().str.replace(' ','_').str.strip()

In [127]:
data_dete.head()

   id                    separationtype cease_date  ... south_sea disability nesb
0   1             Ill Health Retirement    08/2012  ...       NaN        NaN  Yes
1   2  Voluntary Early Retirement (VER)    08/2012  ...       NaN        NaN  NaN
2   3  Voluntary Early Retirement (VER)    05/2012  ...       NaN        NaN  NaN
3   4         Resignation-Other reasons    05/2012  ...       NaN        NaN  NaN
4   5                    Age Retirement    05/2012  ...       NaN        NaN  NaN

[5 rows x 56 columns]

In [128]:
renaming_dict = {'Record ID': 'id', 'CESSATION YEAR': 'cease_date', 'Reason for ceasing employment': 'separationtype', 'Gender. What is your Gender?': 'gender', 'CurrentAge. Current Age': 'age',
       'Employment Type. Employment Type': 'employment_status',
       'Classification. Classification': 'position',
       'LengthofServiceOverall. Overall Length of Service at Institute (in years)': 'institute_service',
       'LengthofServiceCurrent. Length of Service at current workplace (in years)': 'role_service'}

data_tafe.rename(renaming_dict, axis = 1, inplace = True)

## Identify Missing Values and Drop Unnecessary Columns

Before replace 'Not Stated' by NaN

In [67]:
data_dete.isnull().sum().sum()

5674

In [68]:
data_tafe.isnull().sum().sum()

9973

After replace 'Not Stated' by NaN

In [129]:
data_dete = data_dete.applymap(lambda x: np.nan if x == 'Not Stated' else x)

In [70]:
data_dete.isnull().sum().sum()

5984

Drop columns

In [130]:
data_dete_updated = data_dete.drop(data_dete.columns[28:49], axis = 1)

In [131]:
data_tafe_updated = data_tafe.drop(data_tafe.columns[17:66], axis = 1)

In [118]:
data_dete_updated.head()

   id                    separationtype cease_date  ... south_sea disability nesb
0   1             Ill Health Retirement    08/2012  ...       NaN        NaN  Yes
1   2  Voluntary Early Retirement (VER)    08/2012  ...       NaN        NaN  NaN
2   3  Voluntary Early Retirement (VER)    05/2012  ...       NaN        NaN  NaN
3   4         Resignation-Other reasons    05/2012  ...       NaN        NaN  NaN
4   5                    Age Retirement    05/2012  ...       NaN        NaN  NaN

[5 rows x 35 columns]

In [119]:
data_tafe_updated.head()

             id  ... role_service
0  6.341330e+17  ...          1-2
1  6.341337e+17  ...          NaN
2  6.341388e+17  ...          NaN
3  6.341399e+17  ...          NaN
4  6.341466e+17  ...          3-4

[5 rows x 23 columns]

## Verify the Data

DETE DATASET

In [132]:
data_dete_updated["cease_date"].value_counts()

2012       344
2013       200
01/2014     43
12/2013     40
09/2013     34
06/2013     27
07/2013     22
10/2013     20
11/2013     16
08/2013     12
05/2013      7
05/2012      6
02/2014      2
07/2014      2
04/2013      2
08/2012      2
04/2014      2
11/2012      1
07/2006      1
09/2014      1
2014         1
07/2012      1
2010         1
09/2010      1
Name: cease_date, dtype: int64

In [133]:
data_dete_updated['year'] = pd.DatetimeIndex(data_dete_updated["cease_date"]).year

In [134]:
data_dete_updated['year'].value_counts()

2013.0    380
2012.0    354
2014.0     51
2010.0      2
2006.0      1
Name: year, dtype: int64

In [135]:
data_dete_updated['year']=data_dete_updated['year'].astype('float')

In [48]:
data_dete_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 36 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   id                                   822 non-null    int64
 1   separationtype                       822 non-null    object
 2   cease_date                           788 non-null    object
 3   dete_start_date                      749 non-null    object
 4   role_start_date                      724 non-null    object
 5   position                             817 non-null    object
 6   classification                       455 non-null    object
 7   region                               717 non-null    object
 8   business_unit                        126 non-null    object
 9   employment_status                    817 non-null    object
 10  career_move_to_public_sector         822 non-null    bool
 11  career_move_to_private_sector        822 non-null    bool
 12  interpersonal_conflicts              822 non-null    bool
 13  job_dissatisfaction                  822 non-null    bool
 14  dissatisfaction_with_the_department  822 non-null    bool
 15  physical_work_environment            822 non-null    bool
 16  lack_of_recognition                  822 non-null    bool
 17  lack_of_job_security                 822 non-null    bool
 18  work_location                        822 non-null    bool
 19  employment_conditions                822 non-null    bool
 20  maternity/family                     822 non-null    bool
 21  relocation                           822 non-null    bool
 22  study/travel                         822 non-null    bool
 23  ill_health                           822 non-null    bool
 24  traumatic_incident                   822 non-null    bool
 25  work_life_balance                    822 non-null    bool
 26  workload                             822 non-null    bool
 27  none_of_the_above                    822 non-null    bool
 28  gender                               798 non-null    object
 29  age                                  811 non-null    object
 30  aboriginal                           16 non-null     object
 31  torres_strait                        3 non-null      object
 32  south_sea                            7 non-null      object
 33  disability                           23 non-null     object
 34  nesb                                 32 non-null     object
 35  year                                 788 non-null    float64
dtypes: bool(18), float64(1), int64(1), object(16)
memory usage: 130.2+ KB

In [53]:
data_dete_updated['dete_start_date'].value_counts().sort_index()

1963     4
1965     1
1966     1
1967     2
1968     3
1969    10
1970    21
1971    10
1972    12
1973     8
1974    14
1975    21
1976    15
1977    11
1978    15
1979    14
1980    14
1981     9
1982     4
1983     9
1984    10
1985     8
1986    12
1987     7
1988    15
1989    17
1990    20
1991    18
1992    18
1993    13
1994    10
1995    14
1996    19
1997    14
1998    14
1999    19
2000    18
2001    10
2002    15
2003    15
2004    18
2005    20
2006    23
2007    34
2008    31
2009    24
2010    27
2011    40
2012    27
2013    21
Name: dete_start_date, dtype: int64

TAFE DATASET

In [75]:
data_tafe_updated['cease_date'].value_counts()

2011.0    268
2012.0    235
2010.0    103
2013.0     85
2009.0      4
Name: cease_date, dtype: int64

## Identify Dissatisfied Employees

TAFE DATASET

In [80]:
 data_tafe_updated.head()

             id  ... role_service
0  6.341330e+17  ...          1-2
1  6.341337e+17  ...          NaN
2  6.341388e+17  ...          NaN
3  6.341399e+17  ...          NaN
4  6.341466e+17  ...          3-4

[5 rows x 23 columns]

In [136]:
 data_tafe_updated['Contributing Factors. Dissatisfaction'].value_counts()

-                                         371
Contributing Factors. Dissatisfaction      66
Name: Contributing Factors. Dissatisfaction, dtype: int64

In [137]:
 data_tafe_updated['Contributing Factors. Job Dissatisfaction'].value_counts()

-                      360
Job Dissatisfaction     77
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [138]:
def update_vals(element):
    if element == '-':
        return False
    elif pd.isnull(element):
        return np.nan
    else:
        return True
  
data_tafe_updated[['Contributing Factors. Job Dissatisfaction', 'Contributing Factors. Dissatisfaction']] = (
data_tafe_updated[['Contributing Factors. Job Dissatisfaction', 'Contributing Factors. Dissatisfaction']]
    .applymap(update_vals))

#True: Employee was dissatisfied over one of more things, leading to their resignation
#False: Employee resigned for a reason other than dissatisfaction   
data_tafe_updated['dissatisfied'] = data_tafe_updated[['Contributing Factors. Job Dissatisfaction', 'Contributing Factors. Dissatisfaction']].any(1)

In [139]:
data_tafe_updated['dissatisfied'].value_counts(dropna=False)

False    587
True     115
Name: dissatisfied, dtype: int64

DETE DATASET

In [140]:
data_dete_updated.head()

   id                    separationtype cease_date  ... disability nesb    year
0   1             Ill Health Retirement    08/2012  ...        NaN  Yes  2012.0
1   2  Voluntary Early Retirement (VER)    08/2012  ...        NaN  NaN  2012.0
2   3  Voluntary Early Retirement (VER)    05/2012  ...        NaN  NaN  2012.0
3   4         Resignation-Other reasons    05/2012  ...        NaN  NaN  2012.0
4   5                    Age Retirement    05/2012  ...        NaN  NaN  2012.0

[5 rows x 36 columns]

In [141]:
data_dete_updated['dissatisfied'] = data_dete_updated[['job_dissatisfaction',
       'dissatisfaction_with_the_department', 'physical_work_environment',
       'lack_of_recognition', 'lack_of_job_security', 'work_location',
       'employment_conditions', 'work_life_balance','workload']].any(1, skipna=False)

In [142]:
data_dete_updated['dissatisfied'].value_counts(dropna=False)

False    447
True     375
Name: dissatisfied, dtype: int64

In [148]:
dete_resignations_up = data_dete_updated
tafe_resignations_up = data_tafe_updated

## Combine the Data

In [149]:
dete_resignations_up['institute'] = 'DETE'
tafe_resignations_up['institute'] = 'TAFE'

In [154]:
combined = pd.concat([dete_resignations_up, tafe_resignations_up], ignore_index=True)

combined.head()

    id                    separationtype  ... institute_service role_service
0  1.0             Ill Health Retirement  ...               NaN          NaN
1  2.0  Voluntary Early Retirement (VER)  ...               NaN          NaN
2  3.0  Voluntary Early Retirement (VER)  ...               NaN          NaN
3  4.0         Resignation-Other reasons  ...               NaN          NaN
4  5.0                    Age Retirement  ...               NaN          NaN

[5 rows x 54 columns]

In [155]:
combined.shape

(1524, 54)

In [156]:
combined_updated = combined.dropna(thresh=500, axis = 1)

combined_updated.notnull().sum().sort_values()

role_service                            596
institute_service                       596
WorkArea                                702
Institute                               702
region                                  717
role_start_date                         724
dete_start_date                         749
year                                    788
none_of_the_above                       822
workload                                822
work_life_balance                       822
traumatic_incident                      822
ill_health                              822
study/travel                            822
relocation                              822
maternity/family                        822
employment_conditions                   822
lack_of_job_security                    822
lack_of_recognition                     822
physical_work_environment               822
dissatisfaction_with_the_department     822
job_dissatisfaction                     822
interpersonal_conflicts                 822
career_move_to_private_sector           822
career_move_to_public_sector            822
work_location                           822
gender                                 1394
age                                    1407
employment_status                      1413
position                               1413
cease_date                             1483
separationtype                         1523
dissatisfied                           1524
institute                              1524
id                                     1524
dtype: int64

In [157]:
combined_updated.shape

(1524, 35)

In [158]:
combined_updated.head()

    id                    separationtype  ... institute_service role_service
0  1.0             Ill Health Retirement  ...               NaN          NaN
1  2.0  Voluntary Early Retirement (VER)  ...               NaN          NaN
2  3.0  Voluntary Early Retirement (VER)  ...               NaN          NaN
3  4.0         Resignation-Other reasons  ...               NaN          NaN
4  5.0                    Age Retirement  ...               NaN          NaN

[5 rows x 35 columns]

## Clean the Service Column

In [160]:
combined_updated["institute_service"].value_counts()

Less than 1 year      147
1-2                   102
3-4                    96
11-20                  89
More than 20 years     71
5-6                    48
7-10                   43
Name: institute_service, dtype: int64

In [161]:
extracted_years = (combined_updated['institute_service']
                  .astype(str).str.extract(r'(\d+)')
                  .astype('float'))

combined_updated['institute_service_up'] = extracted_years

combined_updated['institute_service_up'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

1.0     249
3.0      96
11.0     89
20.0     71
5.0      48
7.0      43
Name: institute_service_up, dtype: int64

In [162]:
def career_stage(element):
    if element < 3:
        return 'New'
    elif 3 <= element < 7:
        return 'Experienced'
    elif 7 <= element < 11:
        return 'Established'
    elif pd.isnull(element):
        return np.nan
    else:
        return 'Veteran'
    
# Apply this function to `institute_service_up` and store the results in `service_cat`.

combined_updated['service_cat'] = combined_updated['institute_service_up'].apply(career_stage)

combined_updated['service_cat'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

New            249
Veteran        160
Experienced    144
Established     43
Name: service_cat, dtype: int64